//Tables

//Sets defaults behavior to allow for horizontal scrolling on smaller viewports
table {
	overflow-x:scroll;
	max-width:100%;
}

th,
tr,
td {
	text-align: left;
}

thead {

}

tbody {

}

tfoot {

}


th {

}

tr {}


