<ul class="design-system-content-listing">
    {{- range . -}}
        {{- if and (ne ( .Title | lower) "componentiframes") (ne .Section "componentiframes") -}}
        <li class="design-system-content-listing-item">
            <a class="design-system-content-listing-item--link" href="{{.RelPermalink}}">
                <h2 class="design-system-content-listing-item--heading">{{- .Title | humanize | title -}}</h2>
                {{ with .Description }}
                <p class="design-system-content-listing-item--description">{{ . | markdownify }}</p>
                {{ end }}
            </a>
        </li>
        {{- end -}}
    {{- end -}}
</ul>