//svg close icon with circle
#design-system-close-icon-1 {
    height: $ds-search-icon-size;
    width: $ds-search-icon-size;
}

//svg close icon without circle
#design-system-close-icon-2 {
    height: 25px;
    width: 25px;
}

//svg search icon to open search
#design-system-search-icon {
    fill: $ds-global-header-link-color;
    height: $ds-search-icon-size;
}

//svg in global header to open menu
#design-system-menu-icon {
    fill: $ds-global-header-link-color;
    height: $ds-menu-icon-size;
    margin-right: .25em;
}

//default svg for homepage hero, only one color (brand-primary) can be tweaked for this image
//to override this image, set the "homepageheroimage" param inside config.toml to the name of the image
//you put inside static/images

#design-system-homepage-hero-icon {
    .design-system-customizable-vector-fill {
        fill:$design-system-homepage-default-image-fill-color;
    }
}
