 /*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa;
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}


//Rendered components

.design-system-rendered-code {
    width:105%;
    margin-left:-2.5%;
    padding:2.5%;
    @include card(1);
    &:hover {
      @include card(4);
    }
}

.design-system-component--iframe--wrapper {
  transition: width .3s ease-in-out;
  display:block;
  width:100%;
}

.design-system-component--iframe {
  display:block;
  transition: width .3s ease-in-out;
  margin-left:auto;
  margin-right:auto;
  border:none;
  padding:0px;
  outline:none;
}

.design-system-mq-links {
  display:flex;
  justify-content:space-around;
  max-width:400px;
  margin-left:auto;
  margin-right:auto;
}

.design-system-mq-link {
  text-align:center;
}

.design-system-device-icon__size {
  font-size:12px;
  color:lighten(black,40%);
}


.design-system-copyable-code-block {
    position: relative;
    z-index: 1;
}



.ds-copy-button-wrapper {
  position:absolute;
  right:1em;
  top:1em;
}



.button--design-system-copy-code {
    position: relative;
    &.ds-tooltipped {
        content: '';
        color:transparent;
    }
}

.ds-tooltipped:after {
    display: inline-block;
    height: 100%;
    width: auto;
    position: absolute;
    right: 0px;
    content: attr(data-dstooltip);
    color:$base-font-color;
}


.design-system-embedded-component {
    display: flex;
    flex-direction:column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}



